<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">



    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/root-context.xml
            /WEB-INF/spring/application-security.xml
            /WEB-INF/spring/mysql-datasource.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>ShowInstitutionLogo</servlet-name>
        <servlet-class>com.planrest.work_with_image.ShowInstitutionLogo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowInstitutionLogo</servlet-name>
        <url-pattern>/ShowInstitutionLogo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInstitutionAffiche</servlet-name>
        <servlet-class>com.planrest.work_with_image.ShowInstitutionAffiche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowInstitutionAffiche</servlet-name>
        <url-pattern>/ShowInstitutionAffiche</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInstitutionPhotoInstitution</servlet-name>
        <servlet-class>com.planrest.work_with_image.ShowInstitutionPhotoInstitution</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowInstitutionPhotoInstitution</servlet-name>
        <url-pattern>/ShowInstitutionPhotoInstitution</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowProfileAvatar</servlet-name>
        <servlet-class>com.planrest.work_with_image.ShowProfileAvatar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProfileAvatar</servlet-name>
        <url-pattern>/ShowProfileAvatar</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/dispatcher-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--CharsetFilter start-->

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.planrest.filters.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>



</web-app>