body{
    background: #2C2A3B;

}

#inf{
    /*Выравнивание блока по центру*/
    width: 450px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(240, 255, 240, 0.8);
    border: 2px solid silver;
    padding: 15px;
    border-radius: 15px;
}

#suc{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    vertical-align: middle;
}

p{
    font-size: 18px;
    font-family: bold;
    vertical-align: middle;
}


a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: underline;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}