<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/PlanRest1_war_exploded/resources/css/style_authorization.css">
	<title>Авторизация</title>

</head>
<body>

    <div id="authorization">
        <p class="loginAndPassword">Login</p>
        <input type="Text" id="login" class="inputText" name="user_email"/>
        <p class="loginAndPassword">Password</p>
        <input type="Password" id="password" class="inputText" name="user_password"/>
        <br/> <br/>
        <input type="submit" value="Войти" id="btnLog">
        <input type="submit" value="Регистрация" id="btnReg">
        <!-- Кнопки входа и регистрации(сделаны как ссылки) -->
        <!-- <a href="#" class="buttonUp">Вход</a>
        <a href="#" class="buttonReg">Регистрация</a> -->
        <br/><br/><br/>
        <a href="#" id="help">Забыли пороль?</a>
        <br/>
        <p>Неверный логин или пароль</p>
    </div>

</body>
</html>